body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    }

h2{
    color: #4b5563;
}    


main{

    margin-top: 60px;
    margin-bottom: 30px;
}

#wrapper{
    display: flex;
    gap:10px;
}


table {
   border-collapse: collapse;
  padding :10px;
}

th{
    background-color: #4b5563;
    color:#F9FAFB;
    padding : 10px;
}

td{
    padding : 10px;
}
.employeeLine:nth-child(even){
  background-color: #F9FAFB;
}

#employeeTable{
   overflow-x: auto;  
  width: 70%;     
}

a.button {
    border: 1px solid #808080;
    background: #a0a0a0;
    display: inline-block;
    padding: 5px;
}

#formContent{
  display:flex;
  flex-direction: column;
  justify-content: center;
  gap : 10px;
  height: auto;
  
}

#btnSubmit{
  align-self: center;
}

#names{
  display:flex;
  gap : 10px;
}

#employeeForm {
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

#buttons{
  display:flex;
  justify-content: center;
  gap : 20px;
  
}

#errorRow {
  background-color:#fdd; 
  color:#900;
}

.btnForm{
     border: 1px #0d4bf0 solid;
    background: #2563eb;
    color : #F9FAFB;
    border-radius: 5px;
}

#computerStatusPieChart{
  width:100%;
  max-width:600px
  
}

.formInput {
    display: flex;
    flex-direction: column;
    align-items: stretch; 
}

.formInput label {
    min-width: max-content; 
    margin-bottom: 5px;
    font-weight: bold;
    color: #4b5563;
}

.formInput input {
    box-sizing: border-box;
    width: 100%; 
    height: 2rem;
    border-radius: 5px;
    font-size: 1rem;
    border: 1px solid #d7dcdf;
}

.btnForm{
    width:100%;
    height: 2rem;
    color:#F9FAFB;
    border-radius: 5px;

}

#btnCancel{
  background-color:#2563eb ;
  border: 1px #0d4bf0 solid;
}

#btnCancel:hover{
  background-color:#3c75f2 ;
}


#btns{
  margin-top: 10px;
  display:flex;
  gap:10px;
}

#bigButtonlAlert{
  display: flex;
  justify-content: center;
  align-items: center; 
  text-align: center; 
  padding: 10px 20px;
  
  text-decoration: none;
  border-radius: 5px;
}

.btnAlert{
  color: #F9FAFB;   
  background-color: #900;
}

.btnAlert:hover{
  background-color: rgb(188, 36, 36);
}

dialog {
  background-color: #F9FAFB;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border: none;
  outline: none;
  
}

dialog[open] {

  all: unset;            
  position: fixed;       
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #F9FAFB;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: stretch;

  max-width: 90%;  
  width: 40%;    
  outline: none;
  border: none;
}

dialog::backdrop {
  background: rgba(0,0,0,0.4);
}


addAlertDialog{
  border:0;
  border-radius: 8px;
}

@media (max-width: 1060px) {
dialog[open] {

  width: 50%;    
}

}


@media (max-width: 830px) {
    body{
        align-items: stretch;  
    }

    #wrapper{
      flex-direction: column;
      align-items: center;
    }

    employeeTable{
  
        width: 90%;     
    }
    
    h2{
      text-align: center;
    }

    dialog[open] {

        width: 70%;    
    }
}

@media (max-width: 610px) {


    dialog[open] {

        width: 90%;    
    }
}