body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    }

h2{
    color: #4b5563;
}    

#pageContent{
    display: flex;
    flex-direction: column;
}