{% extends "/layouts/base.twig" %}

{% block style %}
  <link rel="stylesheet" href="/assets/css/companySubscribe.css">
{% endblock %}

{% block main %}
<main>
  <section>
   
    <div>
       
       <div>
            <h2>{{ title }}</h2>
        </div>
        
    </div>
  </section>
</main>
{% endblock %}